# Dependencies
node_modules

# Build output
dist

# Testing
coverage
playwright-report
test-results

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Documentation
*.md
!README.md

# Local development
.env.local
*.log

# Playwright
playwright.config.ts
e2e
